/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2015, 2:14:21 PM
    Author     : Tranny
*/

.templatebackground {
    -fx-background-color: #3d6bdc;
}

.templateackground2 {
    -fx-background-color: #ecf0f1;
}

.panenewbutton{
    -fx-background-image: url(unknownhovericon.png);
    -fx-background-size: 100% 100%;
}

.panenewbutton:hover{
    -fx-background-image: url(unknownicon.png);
    -fx-background-size: 100% 100%;
}

.paneoldbutton{
    -fx-background-image: url(knownhovericon.png);
    -fx-background-size: 100% 100%;
}

.paneoldbutton:hover{
    -fx-background-image: url(knowniconedited.png);
    -fx-background-size: 100% 100%;
}

.label {
    -fx-font-size: 17pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.cancellabel {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 0.45;
}

.cancellabel:hover {
    -fx-opacity: 1
}